@model Pitstop.ViewModels.ContractManagement.ContractManagementViewModel
@{
    ViewData["Title"] = "Rates Overview";
}
<h3 id="PageTitle">Contract Management - Rates Overview</h3>

<table class="table">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Poliza</td>
            <td>Grupo</td>
            <td>Dias</td>
            <td>Precio</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var rate in Model.Rates)
        {
        <tr>
            <td>@rate.Nombre</td>
            <td>@rate.Poliza</td>
            <td>@rate.Grupo</td>
            <td>@rate.Dias</td>
            <td>@rate.Precio</td>
            <td><a id="EditRateButton" onclick="location.href = '@(Url.Action("Details", "RateManagement", new { id = rate.RateId }))'" class="btn-info">Edit rate</a></td>
            <td><a id="DeleteRateButton" onclick="location.href = '@(Url.Action("Delete", "RateManagement", new { id = rate.RateId }))'" class="btn-danger">Delete rate</a></td>
        </tr>
        }
    </tbody>
</table>
<a id="RegisterRateButton" asp-action="New" asp-controller="RateManagement" class="btn btn-default">Register rate</a>


