@model Pitstop.ViewModels.CustomerManagementDetailsViewModel
@{
    ViewData["Title"] = "Customer Details";
}
<h3>Customer Management - details</h3>

<table class="table">
    <tbody>
        <tr>
            <td width="150">Name :</td>
            <td><b>@Model.Customer.Nombre</b></td>
        </tr>
        <tr>
            <td width="150">Address :</td>
            <td><b>@Model.Customer.Direccion</b></td>
        </tr>
        <tr>
            <td width="150">City :</td>
            <td><b>@Model.Customer.Poblacion</b></td>
        </tr>
        <tr>
            <td width="150">Postalcode :</td>
            <td><b>@Model.Customer.CodigoPostal</b></td>
        </tr>
        <tr>
            <td width="150">Telephonenumber :</td>
            <td><b>@Model.Customer.Telefono</b></td>
        </tr>
        <tr>
            <td width="150">Emailaddress :</td>
            <td><b>@Model.Customer.Email</b></td>
        </tr>
    </tbody>
</table>
<span><a asp-action="Index" asp-controller="CustomerManagement" class="btn btn-default">Back</a></span>

