@model Pitstop.ViewModels.CustomerManagementViewModel
@{
    ViewData["Title"] = "Customers Overview";
}
<h3 id="PageTitle">Customer Management - overview</h3>

<table class="table">
    <thead>
        <tr>
          
            <td>Nombre</td>
            
            <td>NIF</td>
            <td>FechaAlta</td>
          
         
            <td>Poblacion</td>
            
            <td>Telefono</td>
           
            <td>Movil</td>
           
            <td>Email</td>
            <td>Moroso</td>
            <td>Bloqueado</td>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
        <tr>

            <td>@customer.Nombre</td>

            <td>@customer.NIF</td>
            <td>@customer.FechaAlta</td>

            <td>@customer.Poblacion</td>

            <td>@customer.Telefono</td>

            <td>@customer.Movil</td>

            <td>@customer.Email</td>
            <td>@customer.Moroso</td>
            <td>@customer.Bloqueado</td>

            <td><a id="EditCustomerButton" onclick="location.href = '@(Url.Action("Details", "CustomerManagement", new { id = customer.CustomerId }))'" class="btn-info">Edit Customer</a></td>
            <td><a id="DeleteCustomerButton" onclick="location.href = '@(Url.Action("Delete", "CustomerManagement", new { id = customer.CustomerId }))'" class="btn-danger">Delete Customer</a></td>

        </tr>
        }
    </tbody>
</table>
<a id="RegisterCustomerButton" asp-action="New" asp-controller="CustomerManagement" class="btn btn-default">Register customer</a>


