@model Pitstop.ViewModels.CustomerManagementViewModel
@{
    ViewData["Title"] = "Customers Overview";
}
<h3>Customer Management - overview</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Direccion</th>
            <th>City</th>
            <th>Emailaddress</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr class="clickable" onclick="location.href = '@(Url.Action("Details", "CustomerManagement", new { id = customer.CustomerId }))'">
                <td>@customer.Nombre</td>
                <td>@customer.Direccion</td>
                <td>@customer.Poblacion</td>
                <td>@customer.Email</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="New" asp-controller="CustomerManagement" class="btn btn-default">Register customer</a>


