@model Pitstop.ViewModels.VehicleOwnerManagementViewModel
@{
    ViewData["Title"] = "Owners Overview";
}
<h3 id="PageTitle">Vehicle Owner Management - Overview</h3>

<table class="table">
    <thead>
        <tr>
            <th>Razón Social</th>
            <th>CIF</th>
            <th>Contacto</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var owner in Model.Owners)
        {
        <tr>
            <td>@owner.RazonSocial</td>
            <td>@owner.CIF</td>
            <td>@owner.Contacto</td>
            <td>@owner.Telefono</td>
            <td><a id="EditOwnerButton" onclick="location.href = '@(Url.Action("Details", "VehicleOwnerManagement", new { id = owner.OwnerId }))'" class="btn-info">Edit Owner</a></td>
            <td><a id="DeleteOwnerButton" onclick="location.href = '@(Url.Action("Delete", "VehicleOwnerManagement", new { id = owner.OwnerId }))'" class="btn-danger">Delete Owner</a></td>
        </tr>
        }
    </tbody>
</table>
<a id="RegisterOwnerButton" asp-action="New" asp-controller="VehicleOwnerManagement" class="btn btn-default">Register Owner</a>


