@model Pitstop.ViewModels.VehicleManagementDetailsViewModel
@{
    ViewData["Title"] = "Vehicle Details";
}

<h3 id="PageTitle">Vehicle Management - details</h3>

<table class="table">
    <tbody>
        <tr>
            <td width="150">Matricula :</td>
            <td><b>@Model.Vehicle.Matricula</b></td>
        </tr>
        <tr>
            <td width="150">Marca :</td>
            <td><b>@Model.Vehicle.Marca</b></td>
        </tr>
        <tr>
            <td width="150">Modelo :</td>
            <td><b>@Model.Vehicle.Modelo</b></td>
        </tr>
        @*<tr>
            <td width="150">Owner :</td>
            <td><b><a href='@(Url.Action("Details", "CustomerManagement", new { id = Model.Vehicle.CustomerId }))'>@Model.CustomerId</a></b></td>
        </tr>*@
    </tbody>
</table>
<span><a id="BackButton" asp-action="Index" asp-controller="VehicleManagement" class="btn btn-default">Back</a></span>



