@model Pitstop.ViewModels.VehicleManagementViewModel
@{
    ViewData["Title"] = "Vehicles Overview";
}
<h3 id="PageTitle">Vehicle Management - overview</h3>

<table class="table">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Marca</th>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
        <tr>
            <td>@vehicle.Matricula</td>
            <td>@vehicle.Marca</td>
            <td>@vehicle.Modelo</td>
            <td><a id="EditVehicleButton" onclick="location.href = '@(Url.Action("Details", "VehicleManagement", new { id = vehicle.Codigo }))'" class="btn-info">Edit Vehicle</a></td>
            <td><a id="DeleteVehicleButton" onclick="location.href = '@(Url.Action("Delete", "VehicleManagement", new { id = vehicle.Codigo }))'" class="btn-danger">Delete Vehicle</a></td>
        </tr>
        }
    </tbody>
</table>
<a id="RegisterVehicleButton" asp-action="New" asp-controller="VehicleManagement" class="btn btn-default">Register vehicle</a>


